extends layout

block content
  h1 Inquirição de Genese - #{inquericao.UnitId}

  .w3-card.w3-margin
    .w3-container
      each prop in Object.keys(inquericao)
        - const value = inquericao[prop]
        if prop !== 'Relationships'
            p
                strong #{prop}:
                | #{value}
      p
        strong Relationships:
            each relation in inquericao.Relationships
                p
                   a(href=`/genese/${relation.UnitId}`) #{relation.UnitTitle}
  a(href="/") Return to Main Page

